body {
  height: 100vh;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.24), rgba(0,0,0)), url(./images/background.jpg);
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  text-align: center;
  color: #4b9bdd;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  color: #ebf1f3;
}

.message {
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: center;
  color: white;
  margin-bottom: 1rem;
}